.banner,
.banner .content,
.banner .content .column .presentation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;

  .content {
    flex-direction: row;

    .column {
      margin-right: 100px;

      .btn {
        font-size: 18px;
        color: $white;
        background: $blue;
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 8px;
				transition: 0.5s;
				cursor: pointer;
      }

      .btn:hover {
				letter-spacing: 1px;
      }

      .presentation {
        flex-direction: row;

        .line {
          padding-right: 15px;
        }

        .text {
          display: flex;
          justify-content: center;
          flex-direction: column;

          * {
            margin-bottom: 12px;
          }

          .line-one,
          .line-three {
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 48px;
          }

          .line-two {
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 72px;
          }
        }
      }
    }

    .img {
      width: 500px;
      margin-left: 100px;
    }
  }
}
