.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
  // align-items: center;

  .footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .title {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    flex-direction: row;

    .subtitle {
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 25px;
    }

    .column {
      width: 50%;
      display: flex;
      flex-direction: column;

      .text {
        font-size: 16px;
        line-height: 24px;
      }

      .infos {
        display: flex;
        flex-direction: column;

        .info {
          margin-bottom: 25px;
        }
      }
    }

    .form {
      display: flex;
      width: 50%;
      flex-direction: column;

      form {
        .first-line {
          display: flex;
          // justify-content: center;
          align-items: center;
          flex-direction: row;
          input {
            width: 250px;
            margin-right: 43px;
          }
        }

        .btn {
          font-size: 18px;
          color: $white;
          background: $blue;
          display: inline-block;
          padding: 10px 20px;
          margin-top: 20px;
          border-radius: 8px;
          transition: 0.5s;
          cursor: pointer;
        }

        .btn:hover {
          letter-spacing: 1px;
        }
        .form-box {
          position: relative;
          margin-bottom: 20px;

          input {
            padding: 18px 10px 10px 10px;
            font-size: 16px;
            color: $black;
            border: 1px solid $black;
            box-sizing: border-box;
            border-radius: 8px;
            background: transparent;
          }

          .large {
            width: 545px;
          }

          .project {
            height: 150px;
          }

          label {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
            padding: 13px 10px 10px 10px;
            font-size: 18px;
            line-height: 27px;
            color: $black;
            // pointer-events: none;
            transition: 0.5s;
          }

          input:focus ~ label,
          input:valid ~ label {
            top: -12px;
            left: 0;
            color: $blue;
            font-size: 12px;
          }
        }
      }
    }
  }
}
