.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  .title {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 30px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
  }

  .cards {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    .card {
      margin-right: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
      background-color: #e0e0e050;
      border-radius: 8px;
      

      .img {
        width: 377px;
        height: 249px;
        border-radius: 8px 8px 0px 0px; 
      }

      .card-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 72px;
      }
    }

    .card:nth-child(3) {
      margin-right: 0px;
    }
  }
}
