@import "./reset.scss";
@import "./variables";

@import "./header";
@import "./banner";
@import "./about";
@import "./services";
@import "./contact";



.right {
    position: absolute;
    right: 0;
    height: 1200px;
}

.left{
    position: absolute;
    left: 0;
    height: 1200px;
}