@import "./reset.scss";
@import "./variables";

@import "./header";
@import "./banner";
@import "./about";
@import "./services";
@import "./projects";
@import "./contact";
@import "./mobile";
.desktop {
  display: inline;
}

.mobile {
  display: none;
}

.right {
  position: absolute;
  right: 0;
  height: 100%;
}

.left {
  position: absolute;
  left: 0;
  height: 100%;
}

@media only screen and (max-device-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: inline;
  }
}
