@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

section {
  padding: 100px;
}

p {
  font-weight: 300;
  color: #111;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ffffff;
  padding: 10px 100px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

header .title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

header .navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation li a {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 30px;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navigation li a:hover {
  color: #407BFF;
}

.banner,
.banner .content,
.banner .content .column .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.banner .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.banner .content .column {
  margin-right: 100px;
}

.banner .content .column .btn {
  font-size: 18px;
  color: #ffffff;
  background: #407BFF;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.banner .content .column .btn:hover {
  letter-spacing: 1px;
}

.banner .content .column .presentation {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.banner .content .column .presentation .line {
  padding-right: 15px;
}

.banner .content .column .presentation .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .content .column .presentation .text .line-one {
  margin-bottom: 15px;
}

.banner .content .column .presentation .text .line-one,
.banner .content .column .presentation .text .line-three {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 48px;
}

.banner .content .column .presentation .text .line-two {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}

.banner .content .img {
  width: 500px;
  margin-left: 100px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
}

.about .column {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .column .text {
  width: 70%;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.about .column .text .title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
}

.about .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.25));
  width: 628px;
  height: 421px;
}

.services,
.services .title,
.services .cards,
.services .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.services .title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 30px;
}

.services .cards {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.services .cards .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-right: 50px;
}

.services .cards .card .img {
  width: 75px;
}

.services .cards .card .title-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.services .cards .card .text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.services .cards .card:nth-child(4) {
  margin-right: 50px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.projects .title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 30px;
}

.projects .text {
  font-size: 16px;
  line-height: 24px;
}

.projects .cards {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects .cards .card {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
  background-color: #e0e0e050;
  border-radius: 8px;
}

.projects .cards .card .img {
  width: 377px;
  height: 249px;
  border-radius: 8px 8px 0px 0px;
}

.projects .cards .card .card-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 72px;
}

.projects .cards .card:nth-child(3) {
  margin-right: 0px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.contact .footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../assets/retangulo.png);
}

.contact .footer .names {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.contact .footer .names .gabiru {
  font-size: 16px;
}

.contact .footer .names .mateus {
  font-size: 12px;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.contact .container .subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 25px;
}

.contact .container .column {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .container .column .title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 20px;
  margin-left: -280px;
}

.contact .container .column .subtitle {
  margin-left: -370px;
}

.contact .container .column .text {
  font-size: 16px;
  line-height: 24px;
}

.contact .container .column .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -280px;
}

.contact .container .column .infos .info {
  margin-bottom: 25px;
}

.contact .container .form {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .container .form .subtitle {
  margin-left: -40px;
}

.contact .container .form form .first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact .container .form form .first-line input {
  width: 250px;
  margin-right: 43px;
}

.contact .container .form form .btn {
  font-size: 18px;
  color: #ffffff;
  background: #407BFF;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.contact .container .form form .btn:hover {
  letter-spacing: 1px;
}

.contact .container .form form .form-box {
  position: relative;
  margin-bottom: 20px;
}

.contact .container .form form .form-box input {
  padding: 18px 10px 10px 10px;
  font-size: 16px;
  color: #000000;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
}

.contact .container .form form .form-box .large {
  width: 545px;
}

.contact .container .form form .form-box .project {
  height: 150px;
}

.contact .container .form form .form-box label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  padding: 13px 10px 10px 10px;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact .container .form form .form-box input:focus ~ label,
.contact .container .form form .form-box input:valid ~ label {
  top: -12px;
  left: 0;
  color: #407BFF;
  font-size: 12px;
}

.mobile {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #407BFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.mobile .gear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile .text {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
}

.desktop {
  display: inline;
}

.mobile {
  display: none;
}

.right {
  position: absolute;
  right: 0;
  height: 100%;
}

.left {
  position: absolute;
  left: 0;
  height: 100%;
}

@media only screen and (max-device-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
}
/*# sourceMappingURL=styles.css.map */