@import "./reset.scss";
@import "./variables";

@import "./header";
@import "./banner";
@import "./about";
@import "./services";
@import "./projects";
@import "./contact";

.right {
  position: absolute;
  right: 0;
  height: 100%;
}

.left {
  position: absolute;
  left: 0;
  height: 100%;
}
